.stack {
  position: relative;
}

.container {
  margin-block: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-icon-container {
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.menu-icon {
  font-size: 2rem;
}
