.container {
  margin-top: 8rem;

  background-color: var(--light-gray);
}

.transform {
  transform: translateY(-50%);
}

.window {
  transform: translateY(-50px);
}

@media screen and (min-width: 50em) {
  .window {
    padding-bottom: 6rem;
    transform: translateY(-40px);
  }
}
