.container {
  background-color: var(--very-dark-violet);
}

.footer {
  padding-block: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  text-align: center;
}

.logo {
  filter: brightness(0) invert(100%);
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.category-title {
  margin-top: 0;
  margin-bottom: 1.25rem;
  font-weight: 700;
  color: #fff;
}

.category-link {
  margin-bottom: 1rem;
  display: block;
  text-decoration: none;
  color: var(--gray);

  transition: color 250ms;
}

.category-link:last-child {
  margin-bottom: 0;
}

.category-link:hover {
  color: var(--cyan);
}

.icons {
  display: flex;
  gap: 1.25rem;
}

.icon {
  cursor: pointer;
  transition: transform 250ms;
}

.icon:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 60em) {
  .footer {
    padding-block: 4rem;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .categories {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
  }
}
